@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');



body {
    font-family: 'Nunito', sans-serif;
    background-color: #FFF5F5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: radial-gradient(circle, #FFD1DC 2px, #FFF5F5 2px);
    background-size: 40px 40px;
    background-attachment: fixed;
    /* Adjust the size for larger or smaller dots */

}

.container {
    position: relative;
    background-color: #FFFFFF;
    border: 2px solid #FFD1DC;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.additional-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-content .container {
    margin-top: 20px;
}

h1 {
    color: #FF69B4;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
    display: inline
}

a {
    text-decoration: none;
    color: #FF69B4;
}

.clock {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: #333;
}

.filesize {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #333;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#scroll-arrow {
    position: absolute;
    bottom: 20px;
    font-size: 2em;
    color: #FF69B4;
    cursor: pointer;
    animation: bounce 2s infinite;
}

.textbox {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #FFD1DC;
    border-radius: 10px;
    background-color: #FFF5F5;
    text-align: left;
}

#canvas {
    position: absolute;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s, fill 0.3s;
}

.avatar:hover {
    transform: scale(1.075) rotate(-20deg);
}


.invisible {
    visibility: hidden;
}

.icons {
    margin-top: 20px;
}

.icons a {
    margin: 0 10px;
    text-decoration: none;
}

.icons svg {
    width: 40px;
    height: 40px;
    fill: #FF69B4;
    transition: transform 0.3s, fill 0.3s;
}

.icons svg:hover {
    transform: scale(1.2);
    fill: #FF1493;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    90%,
    100% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-20px);
    }

    30% {
        transform: translateY(-10px);
    }
}

.container {
    animation: bounce 1s 1;
}

.cursor {
    position: absolute;
    display: inline-block;
    margin-left: 2px;
    color: #FF69B4;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.project-card {
    display: inline-block;
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #FFD1DC;
    border-radius: 10px;
    background-color: #FFF5F5;
    text-align: left;
    position: relative;
    width: 90%;
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
    border: 2px solid #FF69B4;
}

.stars {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 18px;
    color: #FF69B4;
}

.github-button {
    position: absolute;
    bottom: 2px;
    right: 10px;
    color: #FF69B4;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
    .container {
        width: 80%;
        padding: 20px;
        padding-bottom: 30px;
    }

    .avatar {
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .icons svg {
        width: 30px;
        height: 30px;
    }

    .filesize {
        font-size: 12px;
    }

    .icons {
        margin-top: 10px;
    }

    .icons a {
        margin: 0 5px;
    }
}