@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Color Pallet */

:root {
    --primary-color: #FF69B4;
    --highlighted-primary: #FF1493;
    --background-color: #FFF5F5;
    --backgorund-color-secondary: #FFD1DC;
    --background-image: radial-gradient(circle, #FFF5F5 2px, #FFF5F5 2px);
    --container-background-color: #FFFFFF;
    --text-color: #333;
}

/* General Styling */

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--backgorund-color-secondary);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: var(--background-image);
    background-size: 40px 40px;
    background-attachment: fixed;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.magnetic {
    text-align: center;
    color: var(--backgorund-color-secondary);
}

.container {
    position: relative;
    background-color: var(--container-background-color);
    border: 2px solid #FFD1DC;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.additional-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-content .container {
    margin-top: 20px;
}

h1 {
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
    display: inline
}

strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00000000;
    color: var(--primary-color);
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s;
}

.clock {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: var(--text-color);
}

.filesize {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: var(--text-color);
    animation: fadeIn 1s;
}

#ssl-indicator {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 999px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#ssl-indicator svg {
    width: 12px;
    height: 12px;

}

.ssl-secure {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid #FFD1DC;
}

.ssl-insecure {
    background-color: red;
    color: white;
}

#ssl-icon {
    width: 1em;
    /* Make icon responsive to font size */
    height: 1em;
    margin-right: 5px;
    /* Space between icon and text */
}

#ssl-icon svg {
    fill: currentColor;
    /* Inherit color from parent */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#scroll-arrow {
    position: absolute;
    bottom: 20px;
    font-size: 2em;
    color: var(--primary-color);
    cursor: pointer;
    animation: bounce 2s infinite;
}

.textbox {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #FFD1DC;
    border-radius: 10px;
    background-color: var(--background-color);
    text-align: left;
}

#canvas {
    position: absolute;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s, fill 0.3s;
    cursor: pointer;
}

.avatar:hover {
    transform: scale(1.02) rotate(-20deg);
}

@keyframes shake {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.075);
    }
}

#avatar-container.shake {
    animation: shake 0.1s;
}

.particle {
    position: fixed;
    color: var(--text-color);
    animation: floatUp 1s forwards;
    pointer-events: none;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

#counter {
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.5s;
}

#counter.visible {
    opacity: 1;
}

#purchase-container {
    position: fixed;
    top: 50%;
    left: -150px;
    width: auto;
    max-width: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    transition: left 0.5s ease;
}

#purchase-container.visible {
    left: 20px;
}

#purchase-container button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    color: var(--container-background-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 700;
    position: relative;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}


#purchase-container button .cursor-icon {
    margin: 5px;
    font-size: 1.5em;
    fill: var(--container-background-color)
}

#purchase-container button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#purchase-container button:not(:disabled):hover {
    transform: scale(1.05);
    background-color: var(--highlighted-primary);
}

#purchase-container button:active {
    transform: scale(0.95);
}

#message-box {
    position: fixed;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
    padding: 20px;
    transition: top 0.5s ease, opacity 0.5s ease;
    width: auto;
    max-width: auto;
}

#message-box.visible {
    top: 50px;
}

#message-box.gone {
    opacity: 0;
}

#message-box p {
    color: var(--text-color);
}

#message-box strong {
    color: var(--primary-color);
}

.invisible {
    visibility: hidden;
}

.icons {
    margin-top: 20px;
}

.icons a {
    margin: 0 10px;
    text-decoration: none;
}

.icons svg {
    width: 40px;
    height: 40px;
    fill: var(--primary-color);
    transition: transform 0.3s, fill 0.3s;
}

.icons svg:hover {
    transform: scale(1.2);
    fill: var(--highlighted-primary);
}

#mastodon-inside {
    fill: var(--container-background-color);
}

@keyframes bounce {

    0%,
    20%,
    50%,
    90%,
    100% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-20px);
    }

    30% {
        transform: translateY(-10px);
    }
}

.container {
    animation: bounce 1s 1;
}

.cursor {
    position: absolute;
    display: inline-block;
    margin-left: 2px;
    color: var(--primary-color);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.project-card {
    display: inline-block;
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #FFD1DC;
    border-radius: 10px;
    background-color: var(--background-color);
    text-align: left;
    position: relative;
    width: 90%;
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
    border: 2px solid #FF69B4;
}

.stars {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 18px;
    color: var(--primary-color);
}

.github-button {
    position: absolute;
    bottom: 2px;
    right: 10px;
    color: var(--primary-color);
}

input {
    color: var(--text-color);
}

textarea {
    color: var(--text-color);
}

#post-type {
    color: var(--text-color);
}

#new-post-form button {
    color: var(--container-background-color);
    background-color: var(--primary-color);
    border-radius: 99999px;
    transition: background-color 0.3s, transform 0.3s;
}

#new-post-form button:hover {
    background-color: var(--highlighted-primary);
    transform: scale(1.05);
}

#new-post-form button:active {
    transform: scale(0.95);
}

/* Column layout */
#feed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.post {
    position: relative;
    background-color: var(--container-background-color);
    border: 2px solid #FFD1DC;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

/* FIXME: Make responsive design for posts! */

/* All the formatting for markdown */

.post h1 {
    color: var(--primary-color);
    margin-bottom: 10px;
    margin-top: 0px;
}

.post h2 {
    color: var(--text-color);
    margin: 10px;
}

.post h3 {
    color: var(--text-color);
    margin: 10px;
}

.post p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
}

.post p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
}

.post a {
    color: var(--primary-color);
}

.post a:hover {
    color: var(--highlighted-primary);
}

.post ul {
    text-align: left;
    margin: 10px 0;
}

.post li {
    margin: 5px 0;
}

.post blockquote {
    background-color: var(--background-color);
    border-left: 5px solid var(--primary-color);
    padding: 10px;
    margin: 10px 0;
}

.post code {
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    line-height: 1.5;
}

.post pre {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    overflow-x: auto;
    white-space: pre;
    hyphens: none;
}

.post img {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0;
}

.post hr {
    border: 1px solid var(--primary-color);
    margin: 20px 0;
}

.post table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.post th {
    background-color: var(--primary-color);
    color: var(--container-background-color);
    padding: 10px;
}

.post td {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
}

.post hr {
    margin: 20px -16px;
    border: 0;
    border-top: 1px solid #FF69B4;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.post .center {
    text-align: center;
}

.post .right {
    text-align: right;
}

.post .left {
    text-align: left;
}

.post .justify {
    text-align: justify;
}

.post .small {
    font-size: 0.8em;
}

.post .medium {
    font-size: 1.2em;
}

.post .large {
    font-size: 1.6em;
}

.post-id {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--backgorund-color-secondary);
    display: flex;
    align-items: center;
}

.post-id svg {
    width: 20px;
    height: 20px;
    fill: var(--backgorund-color-secondary);
}

.post-date {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--backgorund-color-secondary);
}

.rating-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-container button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--backgorund-color-secondary);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, color 0.3s;
}

.rating-container button:hover {
    background-color: var(--primary-color);
    color: var(--container-background-color);
    box-shadow: 0 0px 8px #FF69B4AA;
}

.rating-container button:active {
    background-color: var(--highlighted-primary);
    color: var(--container-background-color);
    transform: scale(0.9);
    box-shadow: 0 0px 8px #FF1493AA;

}

.rating-container button:disabled {
    background-color: var(--primary-color);
    color: var(--container-background-color);
    box-shadow: 0 0px 8px #FF69B4AA;
}

.image-post {
    text-align: left;
}

.image-post img {
    width: 100%;
    border-radius: 20px;
    margin: 0%;
}

.article-post {
    text-align: left;
    max-width: 1000px;
}

.article-post img {
    width: 50%;
    border-radius: 20px;
    margin: 10px 0;
}

.reading-time {
    color: var(--text-color);
    font-size: 14px;
}

.microblog-post {
    text-align: left;
}

.interaction-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-container {
    margin-left: 10px;
}

.delete-container {
    margin-left: 10px;
}

.edit-container {
    margin-left: 10px;
}

.interaction-container button {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    padding: 6px;
    background-color: #00000000;
    fill: var(--backgorund-color-secondary);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, fill 0.3s;
}

.interaction-container button:hover {
    fill: var(--text-color);
    transform: scale(1.1);
}

.interaction-container button:active {
    fill: var(--text-color);
    transform: scale(0.9);

}

.standalone {
    animation: bounce 1s 1;
}

#go-home-container {
    border-radius: 999999px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
    color: var(--primary-color);
    font-size: 2em;
}

#go-home-container:hover {
    transform: scale(1.1);
    color: var(--highlighted-primary);
}

/* Dark Mode */

@media screen and (prefers-color-scheme: dark) {
    :root {
        --primary-color: #E86A92;
        --highlighted-primary: #f64c82;
        --background-color: #222;
        --backgorund-color-secondary: #444;
        --background-image: radial-gradient(circle, #222 2px, #222 2px);
        --container-background-color: #333;
        --text-color: #FFF;
    }

    .container {
        border: 2px solid #444;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .textbox {
        border: 2px solid #444;
    }

    .project-card {
        border: 2px solid #444;
    }

    .project-card:hover {
        border: 2px solid #E86A92;
    }

    #purchase-container {
        border: 2px solid #444;
    }

    .ssl-secure {
        border: 2px solid #444;
    }

    .post {
        border: 2px solid #444;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .post hr {
        border: 1px solid #E86A92;
    }

    .rating-container button:hover {
        box-shadow: 0 0px 8px #E86A92AA;
    }

    .rating-container button:active {
        box-shadow: 0 0px 8px #f64c82AA;
    }

    .rating-container button:disabled {
        box-shadow: 0 0px 8px #E86A92AA;
    }
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
    .container {
        width: 80%;
        padding: 20px;
        padding-bottom: 30px;
    }

    .avatar {
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .icons svg {
        width: 30px;
        height: 30px;
    }

    .filesize {
        font-size: 12px;
    }

    .icons {
        margin-top: 10px;
    }

    .icons a {
        margin: 0 5px;
    }

    #purchase-container.visible {
        left: 10px;
    }

    #purchase-container button {
        width: 60px;
        height: 60px;
        font-size: 0.6em;
    }

    #purchase-container svg {
        width: 30px;
        height: 30px;
    }

    /* posts */
    .post {
        width: 90%;
        padding: 15px;
        margin: 10px 0;
    }

    .image-post {
        width: 90%;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 50px;
        margin: 10px 0;
    }

    .post h1 {
        font-size: 1.5em;
    }

    .post h2 {
        font-size: 1.3em;
    }

    .post h3 {
        font-size: 1.2em;
    }

    .post p {
        font-size: 0.9em;
        line-height: 1.4;
        margin: 8px 0;
    }

    .post code,
    .post pre {
        font-size: 0.9em;
    }

    #go-home-container {
        padding: 15px;
        font-size: 1.5em;
    }

    .article-post img {
        width: 70%;
    }

    .reading-time {
        font-size: 12px;
    }

    .post-id,
    .post-date {
        font-size: 10px;
    }
}